*
{
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.calculadora
{
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: rgb(2, 24, 12);
    width: fit-content;
    margin: auto;
    margin-top: 50px;
}

.pantalla
{
    padding: 20px 20px 12px 20px;

}

.teclas
{
    display: flex;
    
    
}

.numeros div
{
    text-align: center;
}

.numeros button
{
    -webkit-border-radius: 7px;
    border-radius: 15px;
    margin:1px;
    background-color: rgba(176, 228, 117, 0.856);
    color:rgb(243, 247, 243);
    font-size: 20px; 
    font-weight: bolder;   
    transition: all 0.09s;
    
    
}

.numeros button:hover
{
    box-shadow: 0 0 13px rgba(176, 228, 117, 0.856);;
}

.numeros
{
    padding:18px 9px 18px 18px;
    
}

.op
{
    padding: 18px 18px 18px 9px;
}

.op button
{
    -webkit-border-radius: 7px;
    border-radius: 15px;
    display: block;
    margin: 2px;
    background-color:rgb(235, 238, 72);
    font-size: 20px;
    font-weight: bloder;
    width: 50px;
    
}

.op button:hover
{
    box-shadow: 0 0 20px rgb(14, 97, 28);
}

.sr
{
    display: flex;
    padding: 0 20px 20px 20px;
}

.sr button
{
    -webkit-border-radius: 7px;
    border-radius: 15px;
    margin: auto;
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgba(255, 136, 0, 0.966);
    color: #FFF
    
}
.sr button:hover
{
    box-shadow: 0 0 13px rgba(255, 136, 0, 0.966);
}

button
{
    padding:12px 20px;

}

#resultado
{
    background-color: #FFF;
    border:20px 9px 20px 20px;
    margin:0;
    color: rgb(8, 0, 0);
    padding: 20px 9px 40px 20px;
    font-size: x-large;
    font-weight: bolder;
    text-align: right;
}